.navbar{
  border-top: 4px solid #f48225;
}

.sidebar{
  height: 100vh;
  width: 200px;
  position: fixed;
  border-right: 2px solid #dbdbdb;
}
.is-active{
  background: #f1f2f3 !important;
  color: #000 !important;
  border-right: 4px solid #f48225;
}
.navbar-brand:hover{
  background: #f1f2f3 !important;
}



/* CSS */
.nav-btn{
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.nav-btn:hover,
.nav-btn:focus {
  background-color: #07c;
  color: #f1f2f3;
}

.nav-btn:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.nav-btn:active {
  background-color: #0064bd;
  box-shadow: none;
}




.nav-btn-2 {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.nav-btn-2:hover,
.nav-btn-2:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.nav-btn-2:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.nav-btn-2:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}